body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
    text-align: center;
}

h2 {
    margin: 20px 0;
    font-size: 1.5em; /* Use relative units */
    font-weight: bold;
}

.post span {
    font-size: 0.875em; /* Use relative units */
    color: rgb(0, 67, 126);
}

.header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header a {
    color: #fff;
    margin-left: 10%;
    text-decoration: none;
}


form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Use flexbox */
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em; /* Use relative units */
}

button:hover {
    background-color: #0056b3;
}

.thread_list, .post, .thread, .thread-details {
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thread_list p, .thread p, .thread-details p, .post p {
    font-size: 0.875em; /* Use relative units */
    color: rgb(51, 51, 51);
}

a {
    text-decoration: none;
    color: #007BFF;
    display: block;
    margin: 20px 0;
}

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 1.25em; /* Adjust font size for smaller screens */
    }

    button {
        font-size: 0.875em; /* Adjust button font size */
        padding: 8px; /* Adjust button padding */
    }

    form {
        padding: 15px; /* Adjust form padding */
    }

    .thread_list, .post, .thread, .thread-details {
        padding: 15px; /* Adjust padding for other elements */
    }
}
